[Unit]
Description=HA Smartmeter
After=multi-user.target

[Service]
User=pi
Restart=always
WorkingDirectory=/opt/ha-smartmeter
ExecStart=/usr/bin/python -m smartmeter

[Install]
WantedBy=multi-user.target